/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: rgba(15, 23, 42, 0.5); /* dark semi-transparent */
}

::-webkit-scrollbar-thumb {
    background: #475569; /* dark gray */
    border-radius: 9999px; /* rounded */
}

::-webkit-scrollbar-thumb:hover {
    background: #4f46e5; /* indigo */
}

/* Marquee Animation */
@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    display: inline-block;
    white-space: nowrap;
    animation: marquee 30s linear infinite;
}
